*{
    margin:0;
    padding:0;
}
body{
    background-color:#61c8c9; 
    text-align: center;
}
.container{
    height:700vh;

}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border:none;
    border-radius: 1rem;
    font-size: 8vmin;
    color: rgb(250, 75, 75);
    background-color: rgb(244, 244, 199);
}
#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: rgb(3, 3, 10);
    color:rgb(227, 217, 237);
    border-radius: 1rem;
    border:none;
    
}
#msg-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color: rgb(3, 3, 4);
    color:rgb(225, 215, 234);
    border-radius: 1rem;
    border:none;
}
#msg{
    color:bisque;
    font-size:5vmin;
}
.msg-container{
    height:40vmin;

}
.hide{
    display: none;
}